# Environment variables for the application. These variables should be defined in a .env file in the root of the project, and should not be committed to version control.
VITE_TARGET_ENV = 

# Database context variable, used to determine which database to connect to in firebase
VITE_DATABASE_CONTEXT = 

# Firebase configuration variables
VITE_FB_apiKey = 
VITE_FB_authDomain = 
VITE_FB_databaseURL = 
VITE_FB_projectId = 
VITE_FB_storageBucket = 
VITE_FB_messagingSenderId = 
VITE_FB_appId = 
VITE_FB_measurementId = 